{% extends 'core/base.html' %}
{% load static %}
{% block contenido %}
<style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }



      .primer{
  margin-top: 50px;
}

    </style>

    <link href="{% static 'core/'%}QuienSomos/quienessomos/paginaestilo.css" rel="stylesheet">
    <link href="{% static 'core/'%}QuienSomos/quienessomos/carousel.css" rel="stylesheet">


<div class="equipo">
  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="{% static 'core/'%}QuienSomos/assets/niña1.jpg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em"></text></img>

        <h2>Carla Saez</h2>
        <p>Encargada de ventas y atencion de publico via telefonia, emprendedora y una de las funadoras de productos para tu mascota</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="{% static 'core/'%}QuienSomos/assets/niña2.jpg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em"></text></img>

        <h2>Cladia Soto</h2>
        <p>Encargada de inventario y compra de stock para mantener la pagina y su catalogo en condiciones  </p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="{% static 'core/'%}QuienSomos/assets/niña4.jpg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em"></text></img>

        <h2>Macarena Parra</h2>
        <p>Encargada de redes sociales y contacto con socios subcriptores de la empresa</p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
  </div>

    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading"> Vision de la empresa. </h2>
        <p class="lead">Nuestra empresa busca ayudar a aquellos clientes que desean buscar un regalito o darle un estilo propio a tu mascota </p>
      </div>
      <div class="col-md-5">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="{% static 'core/'%}QuienSomos/assets/perrito1.jpg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em"></text></img>

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Mision de la empresa</h2>
        <p class="lead">Como empresa buscamos entregar una variedad amplia de productos y catalogo para nuestros clientes, buscamos ademas que nuestros clientes queden conforme con el servicio prestado recibiendo cualquier tipo de conce</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="{% static 'core/'%}QuienSomos/assets/perrito2.jpg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em"></text></img>

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Nos importa tu opinion</h2>
        <p class="lead">Nos importa tu opinion, dejanos un comentario en la seccion de contactos de la pagina inicial, solicitando mejoras, variedad de productos, variedad para mascotas,etc</p>
      </div>
      <div class="col-md-5">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="{% static 'core/'%}QuienSomos/assets/perrito3.jpg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em"></text></img>

      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->


  
</main>

{% endblock contenido %}
