{% extends 'core/base.html' %}
{% load static %}
{% block contenido %}

<style>

  .productostab{

    margin-top: 20%;
  }

</style>
<table class="productostab">
  <tr>
    <th>nombre</th>
    <th>categoria</th>
    <th>precio</th>
  </tr>
 {% for p in Productos %}
  <tr>
     <td>{{p.nombre}}</td>
     <td>{{p.categoria}}</td>
     <td>{{p.precio}}</td>

     <td>
        <a href="{% url 'modificar_producto' p.id %}">Modificar</a>
        <a href="{% url 'eliminar_producto' p.id %}">Eliminar</a>
     </td>
  </tr>
  {% endfor%}
 </table>

{% endblock contenido %}
